body {
    padding: 0;
    margin: 0
}

* {
    box-sizing: content-box;
}

@keyframes blink {
    from {
        color: rgba(0, 0, 0, 0.3);
    }
    to {
        color: rgba(0, 0, 0, 0.65);
    }
}

#app {
    font-family: -apple-system, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    display: flex;
}

aside {
    width: 24vw;
    background: rgba(238, 238, 238, 0.15);
    padding: 0 1rem;
}

main {
    flex: 1;
}

main div#article {
    padding: 1.5rem;
}

aside h1 {
    text-align: center;
    font-size: 2.25rem;
    animation: 1.5s linear infinite alternate forwards blink;
}

aside h1 .fa-icon {
    display: none;
}

aside #togglable a {
    display: block;
    margin: 1.5rem 0;
    text-decoration: none;
    color: rgba(0, 150, 136, 0.75);
    font-size: 1rem;
}

aside #togglable a:hover {
    color: rgba(0, 150, 136, 1);
}

aside #togglable a.active {
    color: rgba(0, 150, 136, 1);
    text-shadow: 2px 2px 4px #ccc;
}

@media only screen and (max-width: 640px) {
    #app {
        font-size: 14px;
        display: block;
    }
    main {
        width: 100%;
    }
    aside {
        width: 100%;
        padding: 0;
    }
    aside h1 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 1.75rem;
        margin: 0;
        padding: .5rem;
        text-align: left;
        line-height: 2.5rem;
        height: 2.5rem;
        position: relative;
    }
    aside h1 .fa-icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        color: #aaa;
        position: absolute;
        left: 100%;
        transform: translate(-150%, 30%);
    }

    #togglable {
      max-height: 12rem;
      overflow-y: auto;
      padding-left: 1rem;
    }

    #togglable a {
      margin: 1rem 0 !important;
    }

    .fade-enter-active {
        transition: all 1s;
    }
}